/* Common styles outside media queries */
/* #mainNavbar {
    position: relative;
    height: auto;
    flex-direction: ;
    align-items: center;
  }
  
  #nav-link {
    margin-left: 0;
  }
   */
  /* Keyframes for 400px media query */
  @keyframes slide-down-400px {
    0% {
      top: -60px;
    }
    100% {
      top: 0;
    }
  }
  
  @keyframes slide-down-1020px {
    0% {
      top: -50px;
    }
    100% {
      top: 0px;
    }
  }
  
  /* Media query for 400px */
  @media screen and (max-width: 600px) {
    nav{
        height: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #nav-link{
        width:48vh;
        margin-right: 10px;
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }
    #nav-menu{
        flex-direction: column;
    }
    #menu-toggle {
        display: none;
    }
    #menu-toggle:checked ~ #nav-link {
        display: block;
        animation: rolling-down 0.5s ease-in-out;
    }
    @keyframes rolling-down {
        0% {
          transform: translateY(-100%);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
    
    #hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 35px;
        cursor: pointer;
    }
    #mainNavbar.sticky {
      position: fixed;
      top: 0;
      height: auto;
      width: 100%;
      z-index: 1;
      animation: slide-down-400px 0.5s;
    }
  
    #content-heading {
      width: 10px;
    }
  
    section {
      flex-direction: column;
    }
  
    #habitat {
      flex-direction: column-reverse;
    }
  
    #koala {
      align-items: center;
    }
  
    #detailer {
      display: none;
    }
  }
  
  /* Media query for 1020px */
  @media screen and (max-width: 1020px) {
    #mainNavbar.sticky {
      
      position: fixed;
      top: 0;
      height: auto;
      width: 100%;
      z-index: 1;
      animation: slide-down-1020px 0.5s;
    }
  
    #video-embed {
      width: 100%;
      height: 50vh;
    }

    section {
      flex-direction: column;
    }
  
    #habitat {
      flex-direction: column-reverse;
    }
  
    #habitat-article {
      height: 1100px;
    }
  
    #koala {
      align-items: center;
    }
  
    #content-heading {
      width: 80%;
    }
  
    #koala-article > img {
      width: auto;
    }
  }
  