/* responsive style */
@media (max-width:400px) {
    @media (max-width:1020px) {
        #mainNavbar{
            position: relative;
            height: auto;
            flex-direction: column;
            align-items: center;
        }
        #nav-link{
            margin-left:0%;
        }
         /* for sticky navbar function  */
      #mainNavbar.sticky {
        position: fixed;
        top: 0%;
        height: auto;
        width: 100%;
        z-index: 1;
        animation: slide-down 0.5s;
        }
      
      /* scroll % untuk triggers */
      @keyframes slide-down {
        0% {
          top: -10px;
        }
        100% {
          top: 100px;
        }
        }
    
        #video-embed{
            display: flex;
            width: 100%;
            height: 50%;
        }
    
        section{
            flex-direction: column;
        }
        
        #habitat{
            height: 100%;
            flex-direction: column-reverse;
        }
        #habitat-article{
            height:10px;
        }
        #koala{
            align-items: center;
        }
        #content-heading{
            width: 80%;
    
        }
    }
}

/* for viewport of 710 px */
@media (max-width:710px) {
    #mainNavbar{
        position: relative;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    #nav-link{
        margin-left:0%;
    }
     /* for sticky navbar function  */
  #mainNavbar.sticky {
    position: fixed;
    top: 0%;
    height: auto;
    width: 100%;
    z-index: 1;
    animation: slide-down 0.5s;
    }
  
  /* scroll % untuk triggers */
  @keyframes slide-down {
    0% {
      top: -10px;
    }
    100% {
      top: 100px;
    }
    }

    #video-embed{
        display: flex;
        width: 100%;
        height: 40%;
    }

    section{
        flex-direction: column;
    }
    
    #habitat{
        flex-direction: column-reverse;
    }
    #habitat-article{
        height: 1100px;
    }
}

/* for viewport 900px */
@media (max-width:1020px) {
    #mainNavbar{
        position: relative;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    #nav-link{
        margin-left:0%;
    }
     /* for sticky navbar function  */
  #mainNavbar.sticky {
    position: fixed;
    top: 0%;
    height: auto;
    width: 100%;
    z-index: 1;
    animation: slide-down 0.5s;
    }
  
  /* scroll % untuk triggers */
  @keyframes slide-down {
    0% {
      top: -10px;
    }
    100% {
      top: 100px;
    }
    }

    #video-embed{
        display: flex;
        width: 100%;
        height: 30%;
    }

    section{
        flex-direction: column;
    }
    
    #habitat{
        flex-direction: column-reverse;
    }
    #habitat-article{
        height: 1100px;
    }
    #koala{
        align-items: center;
    }
    #content-heading{
        width: 80%;

    }
    #koala-article > img{
        width: auto;
    }
}