body{
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(2, 2, 15, 0.93);
    color:whitesmoke;
}

nav{
    height: auto;
    display:flex;
    background-color: black;
    color: whitesmoke;
}

nav > img{
    padding: 15px;
}

#mainNavbar {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  #mainNavbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    animation: slide-down 0.5s;
  }
  
  @keyframes slide-down {
    0% {
      top: -50px;
    }
    100% {
      top: 0;
    }
  }
  
ul{
    display: flex;
    list-style: none;
}

li{
    margin:5px 10px;
    align-self:center ;
    color: azure;
    text-decoration: none;
    list-style: none;
}

a{
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
    text-rendering: geometricPrecision;
}


#nav-link{
    display: flex;
    margin-left: auto;
}

header{
    image-rendering:pixelated;
    background-image:url(/assets/img_wild_koala_climbing_gum_tree);
    background-blend-mode:darken;
    width: auto;
    height: 800px;
    background-size: cover;
}
#banner{
    color: azure;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: end;
    text-align: center;

}
#banner > h1{
    text-align: center;
    text-shadow: solid 80px;
    flex-direction:column;
    text-decoration: underline;
    background-color: rgba(14, 14, 46, 0.437);
    height: 50px;
    margin: 0%;
    padding-bottom: 0%;
}

#banner > p{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: gray;
    text-overflow: ellipsis;
    font-size: 20px;
    height: 50px;
    margin-top: 0%;
    padding-bottom: 0%;
}

#content-nav{
    display: flex;
    height: 8px;
    justify-content: flex-start;
    padding-bottom: 1px;
}

#know-more{
    background-color: white;
    color: black;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 20px;
    height: 60%;
    border-bottom: 1px grey solid;
}

#headerfact > p {
    margin-left: 31%;
    width: fit-content;
    color: white;
    background-color: black;
}

#go-to{
    font-size: medium;
    width: 150px;
    height: 40px;
    color: white;
    background-color: rgb(255, 115, 0);
    border-radius: 10px;
    border: 2px gray solid;
    border-style:ridge;
    transition-duration: 0.4s;
    cursor: pointer;
    
}

#go-to:hover{
    background-color:yellow;
    color: black;
}

#donation{
    font-size: medium;
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgb(255, 179, 0);
    border-radius: 10px;
    border: 2px yellow solid;
    border-style:ridge;
    transition-duration: 0,8s;
    cursor: pointer;
}

#donation:hover{
    background-color:yellowgreen;

}

#koala{
    display: flex;
    padding-bottom: 25px;
}

#content-heading{
    width: 20%;
    text-align:center;
    margin-left: 4%;
    flex-direction: column;
    justify-content: center;
}

#koala-article{
    width: 60%;
    justify-items: end;
    margin-left: 15%;
    margin-top: 5%;
    padding-left: 20px;
    padding-right: 10px;
    border-left: 1px orangered solid;
}

b{
    color: orange;
}

i{
    color:yellow
}

#habitat{
    display: flex;
    color: black;
    background-color: azure;
    width: auto;
}

#habitat-article{
    width: 80%;
    justify-items: star;
    margin-left:15px;
    margin-top: 5%;
    padding-left:15px;
    padding-right: 15px;
    border-right: 1.5px orange solid;
}

#habitat-heading{
    width: auto;
    text-align: center;
    margin-left: 3%;
    padding-right: 10px;
    padding-bottom: 25px;
}

#join-club{
    text-align: center;
}
#description{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 150px;
    text-align: left;
}

#form {
    text-align: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }
  
  #form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  #subscribe-form {
    display: flex;
    flex-direction: column;
  }
  
  #subscribe-form input[type="email"],
  #subscribe-form input[type="text"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #subscribe-form button {
    padding: 10px;
    font-size: large;
    background-color: #333;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
#subscribe-form button:hover{
    color: orange;
    background-color: azure;
}
  #subscribe-form p {
    font-size: 0.8rem;
    text-align: left;
  }
  